.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}
.holder {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #000;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.item {
    padding: 15px;
    flex-basis: 444px;
    text-align: center;
}
.item:nth-child(1) {
    background-color: #fd644d;
    flex-grow: 2;
}
.item:nth-child(2) {
    background-color: #4983b2;
    order: 4;
    flex-grow: 1;
}
.item:nth-child(3) {
    background-color: #663797;
    order: 3;
    flex-grow: 1;
}
.item:nth-child(4) {
    background-color: #0e7f12;
    order: 5;
    flex-grow: 1;
}

.item:nth-child(5) {
    background-color: #fda429;
    order: 2;
    flex-grow: 2;
}
.item:nth-child(2), .item:nth-child(3), .item:nth-child(4) {
    flex-basis: 20px;
}